*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(192,148,171);
}

nav{
    background-color: white;
}
#icono{
    position:absolute;
}

#myCarousel{
    margin-top: -20px;
    padding: 0;
}

#myCarousel img{
    position: relative;
    width: 100%;
    height: 600px;
}

.parallax {
    background-image: url("img/parallax.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.container{
    padding-top: 100px;
}
h1{
      margin: 10% 0;
      color: black;
      font-weight: bolder;
  }
.prod{
      padding: 3%;
  }

